/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
} */

.project{
    background:#f7f7f7;
    color:#333;
    padding: 40px 20px;
}
.Projects{
    font-size:40px;
    margin:60px 45%;
    justify-content:space-between;
    align-items:center;
}

.project p{
    font-size:20px;
    margin:10px auto 40px;
    max-width:700px;
    text-align:center;
    color:#666;
}
.project-grid{
    display:flex;
    gap:40px;
    /* max-width:300px;
    max-height: 300px; */
    margin:0;
}
.project-grid h3{
    justify-content:space-between;
    /* align-items:center; */
    margin:20px 45%;
    /* hi */
}

.project-card{
    background:#fff;
    border-radius:30px;
    width: 30vmax;
    height: 25vmax;
    box-shadow:0 4px 12px rgba(0,0,0,0.8);
    padding-bottom: 20px;
}
.project-grid img{
    width :100%;
    height:100%;
    object-fit:fill;
}
/* kal krte h isko*/
.Projects bttn{
    align-items:center;
    justify-content:center;
    display:inline-block;
    padding:12px 25px;
    margin-right:10px;
    background:#2cdc8d;
    color:#fff;
    border-radius:6px;
    font-size:1rem;
    font-weight:500;
    transition :0.3s;
}